body {
  background: #111;
  color: #dbdbdb;
  max-width: 1300px;
  margin: 130px auto 40px auto;
  padding: 0 16px;
  font-family: 'DM Serif Text', serif;
  
  background-image: url("relicbackgroundwebsight1.jpg");
  background-size: 100% auto;
  height: 1600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

h1 {
  text-align: center;
  color: #66a0c2;
  margin-top: 20px 0px;
  font-family: 'DM Serif', serif;

  /* mask-image: url("chalkTexture2.jpg");
  mask-repeat: repeat;
  mask-size: auto;
  mask-mode: luminance;

  -webkit-mask-image: url("chalkTexture2.jpg");
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: 300px;
  -webkit-mask-mode: luminance; */
}

#meta {
  text-align: center;
  color: #aaa;
}

#recommendations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  line-height: 1.5;
  align-items: start;
}

#relics {
  white-space: pre-line;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: start;
}

#newest-relics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  line-height: 1.5;
  align-items: start;
}

.relic-card {
  /*border: 1px solid #5488a6;*/
  border-radius: 8px;
  /*background: linear-gradient(180deg, #161616 0%, #121212 27%, #1a1a1a 30%, #1a1a1a 100%);*/
  /*background: #1a1a1a;*/
  background:#1a1a1a;
  padding: 16px;
}

.relic-header h2 a {
  color: inherit;
  text-decoration: none;
}

.relic-header h2 a:hover {
  text-decoration: underline;
}

.relic-card h2 {
  margin: 0;
  font-size: 18px;
  color: #c3c3c3;
}

.relic-card p {
  margin: 4px 0;
  color: #a7a7a7;
}

.item-row {
  display: flex;
  justify-content: space-between;
}

.relic-icon {
  width: 52px;
  height: 52px;
  display: block;
}

.relic-header {
  display: flex;
  margin-top: 3px;
  margin-bottom: 14px
}

.value-high { color: rgb(255, 17, 116); }
.value-mid { color: rgb(106, 163, 183); }
.value-low { color: #749182; }

.divider {
  text-align: center;
  color: #5488a6;
  margin-bottom: 20px;
  
}

.best-of-4-label {
  color: #a7a7a7;
  font-size: 16px;
}



.squad-row {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.squad-btn {
  padding: 6px;
  cursor: pointer;
  background-color: #222222;
  color: #a7a7a7;
  font-family: 'DM Serif Text', serif;
  font-weight: bold;
  border-radius: 6px;
  width: 112px;
  border: 0px;
}

.squad-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 8px;
  padding: 16px;
  background: #1a1a1a;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
}

.squad-text {
  flex: 1;
  background-color: #222222;
  border-radius: 0px;
  color: #aaa;
  border: 0px;
  border-color: #66a0c2;
  height:28px;
  border-radius: 6px;
  padding-left: 7px;
}

.squad-close-btn {
  padding: 6px;
  cursor: pointer;
  background-color: #222222;
  color: #a7a7a7;
  font-family: 'DM Serif Text', serif;
  font-weight: bold;
  border-radius: 6px;
  width: 112px;
  border: 0px;
   display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;

}

.squad-copy-btn {
  padding: 6px;
  cursor: pointer;
  background-color: #222222;
  color: #a7a7a7;
  font-family: 'DM Serif Text', serif;
  font-weight: bold;
  border-radius: 6px;
  border: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.player-count-btn {
  padding: 6px;
  cursor: pointer;
  background-color: #222222;
  color: #a7a7a7;
  font-family: 'DM Serif Text', serif;
  font-weight: bold;
  border-radius: 6px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: auto;
  white-space: nowrap;
}

.squad-text:focus {
  outline: 0px solid #66a0c2;
  outline-offset: 1px;
}

.squad-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.spacer {
  height: 80px;
}

.toggle-contents-btn {
  display: block;
  width: 100%;
  background-color: #222222;
  border: none;
  border-radius: 4px;

  color: #a7a7a7;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 0;
}